a {
  &.step {
    white-space: nowrap;
    box-shadow: 0 5px gray, 0 -5px gray;
    &.success {
      box-shadow: 0 5px seagreen, 0 -5px seagreen;
    }
    &.active {
      &.success {
        box-shadow: 0 8px seagreen, 0 -8px seagreen;
      }
      box-shadow: 0 8px slategray, 0 -8px slategray;
      color: black!important;
      font-weight: bold;
    }
  }
}
