<div class="row bg-light mt-3">
  <div *ngFor="let step of steps" class="col border text-center" [class.border-success]="step.complete()">
    <a [routerLink]="step.url" routerLinkActive="active" class="text-muted step">{{ step.name }}</a>
  </div>
</div>
<div class="d-flex justify-content-end mt-2">
  <div *ngIf="api.hasCurrentCustomer()">
    <span class="text-muted">Customer: </span><span class="text-dark">{{ api.currentCustomer() }} </span>
    <button class="btn btn-sm btn-outline-warning" (click)="reset()"><span class="oi oi-x"></span></button>
  </div>
</div>
<div class="mb-3">
  <router-outlet></router-outlet>
</div>
