<div class="steps d-flex justify-content-center align-content-center flex-wrap bg-light mt-3">
  <ng-container *ngFor="let step of wizardSteps.steps" [ngSwitch]="wizardSteps.canEnter(step)">
    <a [class.success]="step.complete()" class="border text-center text-dark step my-2" *ngSwitchCase="true" [routerLink]="step.url" routerLinkActive="active">
      {{ step.name }}
    </a>
    <span class="border text-center text-muted step my-2" *ngSwitchCase="false">{{ step.name }}</span>
  </ng-container>
</div>
<div class="d-flex justify-content-end mt-2">
  <div *ngIf="api.hasCurrentCustomer()">
    <div>
      <span class="text-muted">Customer: </span><span class="text-dark">{{ api.currentCustomer() }} </span>
      <button class="btn btn-sm btn-outline-warning" (click)="reset()"><span class="oi oi-x"></span></button>
    </div>
    <div>
      <span class="text-muted" *ngIf="api.hasEstimate()">Total: </span><span class="text-dark">{{ api.getTotal() | currency }} </span>
    </div>
  </div>
</div>
<div class="mt-3">
  <router-outlet></router-outlet>
</div>
