bpython==0.18
dj-database-url==0.5.0
django-filter==2.2.0
django-sslserver==0.21
djangorestframework==3.10.3
greenlet==0.4.15
gunicorn==20.0.0
python-dateutil==2.8.1
# python-quickbooks: forked version including "preferences" object
git+https://github.com/flackdl/python-quickbooks.git
redis==3.3.11
requests==2.22.0
WeasyPrint==50
whitenoise==4.1.4
psycopg2==2.8.4
