<div class="card">
  <div class="card-header">
    <h4>Review</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="d-flex justify-content-center">
        <div>
          <div class="form-group">
            <label>Review OK?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" [value]="true" [class.is-invalid]="form.controls.review_ok.dirty && !form.controls.review_ok.valid" id="review_ok-yes" formControlName="review_ok">
              <label class="form-check-label" for="review_ok-yes">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" [value]="false" [class.is-invalid]="form.controls.review_ok.dirty && !form.controls.review_ok.valid" id="review_ok-no" formControlName="review_ok">
              <label class="form-check-label" for="review_ok-no">
                No
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="contact-method">Best Contact Method</label>
            <select class="form-control" id="contact-method" [class.is-invalid]="form.controls.contact_method.dirty && !form.controls.contact_method.valid" formControlName="contact_method">
              <option></option>
              <option>Email</option>
              <option>Text</option>
              <option>Call</option>
            </select>
          </div>
          <!-- paying half now -->
          <div class="form-group">
            <label>Paying Half Now?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" [value]="false" [class.is-invalid]="form.controls.paying_half_now.dirty && !form.controls.paying_half_now.valid" id="paying_half_now-no" formControlName="paying_half_now">
              <label class="form-check-label" for="paying_half_now-no">
                No
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" [value]="true" [class.is-invalid]="form.controls.paying_half_now.dirty && !form.controls.paying_half_now.valid" id="paying_half_now-yes" formControlName="paying_half_now">
              <label class="form-check-label" for="paying_half_now-yes">
                Yes
              </label>
            </div>
          </div>
          <!-- signature -->
          <div class="d-flex justify-content-center" [ngClass]="{'border border-danger': !signatureValid}">
            <div>
              <h5>Employee Signature</h5>
              <canvas #signatureEl class="border border-dark"></canvas>
              <button class="d-block btn btn-sm btn-outline-warning" type="button" (click)="clearSignature()">Clear</button>
            </div>
          </div>
        </div>
      </div>
      <!-- next -->
      <div class="d-flex justify-content-end">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Next</button>
        </div>
      </div>
    </form>
  </div>
</div>
