<ngx-loading [show]="isLoading"></ngx-loading>
<form [formGroup]="form" (ngSubmit)="createEstimate()">
  <div class="row">

    <!-- categories -->
    <div class="col-4">

      <!-- labor -->
      <div class="card mb-3">
        <div class="card-header">
          <h5>Labor Categories</h5>
        </div>
        <div class="card-body">
          <!-- service only categories -->
          <div *ngFor="let category of getServiceOnlyCategories()" class="my-2">
            <button class="btn btn-block btn-outline-secondary" type="button" (click)="categorySelected(category)" [class.category-selected]="this.isCategorySelected(category)">{{ category.name }}</button>
          </div>
        </div>
      </div>


      <!-- inventory -->
      <div class="card">
        <div class="card-header">
          <h5>Inventory Categories</h5>
        </div>
        <div class="card-body">
          <!-- main categories -->
          <div *ngFor="let category of getMainCategories()" class="my-2">
            <div ngbDropdown class="d-inline-block" *ngIf="categoryChildren(category).length > 0">
              <button class="btn btn-block" type="button" ngbDropdownToggle [ngClass]="categoryButtonClass(category)">{{ category.name }}</button>
              <div ngbDropdownMenu>
                <button ngbDropdownItem type="button" *ngFor="let child of categoryChildren(category)" (click)="categorySelected(child)">{{ child.name }}</button>
              </div>
            </div>
            <button class="btn btn-block" type="button" *ngIf="categoryChildren(category).length === 0" (click)="categorySelected(category)" [ngClass]="categoryButtonClass(category)" >{{ category.name }}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-8">

      <!-- inventory items -->
      <div class="card">
        <div class="card-header">
          <h5>Inventory</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <ng-select
              [items]="inventoryResults"
              [multiple]="true"
              [loading]="isItemsLoading"
              [closeOnSelect]="true"
              [searchable]="true"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="selectedInventoryItems"
              (add)="itemAdded($event)"
              (remove)="itemRemoved($event)"
              #inventorySelect
              bindLabel="description"
              placeholder="Select items"
            >
            </ng-select>
          </div>
        </div>
      </div>

      <!-- labor items -->
      <div class="card mt-3">
        <div class="card-header">
          <h5>Labor</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <ng-select
              [items]="serviceResults"
              [multiple]="true"
              [loading]="isItemsLoading"
              [closeOnSelect]="true"
              [searchable]="true"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="selectedServiceItems"
              #serviceSelect
              (add)="itemAdded($event)"
              bindLabel="description"
              placeholder="Select items"
            >
            </ng-select>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- line items -->
  <div class="card mt-3" *ngIf="api.estimateData.items">
    <div class="card-header">
      <h5>Items</h5>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-condensed">
        <thead>
        <tr>
          <th>Product/Service</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th>Amount</th>
          <th>Tax</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let categoryItems of getItemsGroupedByCategory()">
          <tr>
            <td colspan="100" class="bg-info text-light">{{ categoryItems.name }}</td>
          </tr>
          <!-- TODO - index is probably wrong since we grouped by category -->
          <tr *ngFor="let item of categoryItems.items; let i = index" formArrayName="quantities">
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td><input class="form-control" name="quantity" type="number" min="1" [formControlName]="i"></td>
            <td>${{ item.price }}</td>
            <td>${{ item.amount }}</td>
            <td>
              <span *ngIf="api.itemHasTax(item)" class="oi oi-check"></span>
            </td>
            <td><button class="btn btn-sm btn-outline-danger" type="button" (click)="removeItem(item, i)"><span class="oi oi-x"></span></button></td>
          </tr>
          <tr>
            <td colspan="100" class="bg-light text-right text-muted"><strong>Subtotal: </strong>{{ categoryItems.subtotal | currency }}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
      <div class="text-right">
        <div class="d-flex justify-content-end my-2">
          <strong class="mr-3">Subtotal: </strong>
          <strong>{{ api.getSubTotal() | currency }}</strong>
        </div>
        <div class="d-flex justify-content-end my-2">
          <strong class="mr-3">Total: </strong>
          <strong>{{ api.getTotal() | currency }}</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end my-3">
    <button class="btn btn-primary">Next</button>
  </div>
</form>
