<ngx-loading [show]="isLoading"></ngx-loading>
<form [formGroup]="form" (ngSubmit)="createEstimate()">
  <div class="row">
    <!-- categories -->
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5>Categories</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <!-- categories -->
              <div *ngFor="let category of api.categories" class="my-2">
                <button class="btn btn-sm" [ngClass]="{'category-selected': selectedCategory === category.name, 'btn-outline-danger': hasAssessmentResultForCategory('bad', category), 'btn-outline-warning': hasAssessmentResultForCategory('ok', category), 'btn-outline-success': hasAssessmentResultForCategory('good', category)}" (click)="categorySelected(category)">{{ category.name }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- inventory items -->
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <h5>Inventory</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <ng-select
              [items]="inventoryResults"
              [multiple]="true"
              [loading]="isItemsLoading"
              [closeOnSelect]="true"
              [searchable]="true"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="selectedInventoryItems"
              (add)="itemAdded($event)"
              #inventorySelect
              bindLabel="Description"
              placeholder="Select items"
            >
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <!-- labor items -->
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <h5>Labor</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <ng-select
              [items]="serviceResults"
              [multiple]="true"
              [loading]="isItemsLoading"
              [closeOnSelect]="true"
              [searchable]="true"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="selectedServiceItems"
              #serviceSelect
              (add)="itemAdded($event)"
              bindLabel="Description"
              placeholder="Select items"
            >
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- line items -->
  <div class="card mt-3">
    <div class="card-header">
      <h5>Items</h5>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
          <th>#</th>
          <th>Product/Service</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th>Amount</th>
          <th>Tax</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of api.estimateData.items; let i = index" formArrayName="quantities">
          <td>{{ i+1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td><input class="form-control" name="quantity" type="number" min="1" [formControlName]="i"></td>
          <td>${{ item.price }}</td>
          <td>${{ item.amount }}</td>
          <td>{{ item.amount * .0725 | currency }}</td>
          <td><button class="btn btn-outline-danger" type="button" (click)="removeItem(i)"><span class="oi oi-x"></span></button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-end my-3">
    <button class="btn btn-primary" [routerLink]="['/wizard', 'wrap-up']">Next</button>
  </div>
</form>
