.categories {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}
input.form-control {
  min-width: 50px;
}
table {
  thead {
    th {
      font-size: 10px;
    }
  }
  td {
    &.description {
      width: 60%;
    }
    &.price {
      input {
        min-width: 70px;
      }
    }
    &,* {
      font-size:  12px!important;
    }
  }
}
