<div class="position-relative">
  <ngx-loading [show]="isLoading"></ngx-loading>
  <div class="row">

    <!-- left -->
    <div class="col-lg-3">

      <div class="card">
        <div class="card-header">
          <strong>Categories</strong>
        </div>
        <div class="card-body">
          <div class="mb-2">
            <!-- categories -->
            <div *ngFor="let category of api.categories" class="my-2">
              <div ngbDropdown placement="right" *ngIf="categoryChildren(category).length > 0">
                <button class="btn btn-sm btn-block btn-outline-secondary" type="button" ngbDropdownToggle>{{ category.name }}</button>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem class="btn btn-sm btn-info" type="button" *ngFor="let child of categoryChildren(category)" (click)="categorySelected(child)">{{ child.name }}</button>
                </div>
              </div>
              <button class="btn btn-sm btn-block btn-outline-secondary" type="button" *ngIf="categoryChildren(category).length === 0" (click)="categorySelected(category)">{{ category.name }}</button>
            </div>
          </div>
          <div class="p-2 border border-info bg-light">
            <form [formGroup]="form" (ngSubmit)="submitCustomSearch()">
              <label class="mt-2">Manual Search</label>
              <div class="d-flex">
                <input type="text" class="form-control form-control-sm" formControlName="customSearch">
                <button class="btn btn-sm btn-outline-info ml-1" [disabled]="!form.get('customSearch').value">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- right -->
    <div class="col-lg-9 order-first order-lg-last">
      <form [formGroup]="form">

        <!-- line items -->
        <div class="card">
          <div class="card-header">
            <strong>Estimate</strong>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-condensed table-hover" *ngIf="api.estimateData.category_items">
                <thead class="thead-dark">
                <tr>
                  <th>Product/Service</th>
                  <th>Description</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Amount</th>
                  <th>Tax</th>
                  <th></th>
                </tr>
                </thead>
                <tbody formGroupName="categories">
                <ng-container *ngFor="let category of api.estimateData.category_items">
                  <ng-container *ngIf="category.items.length > 0">
                    <tr>
                      <td colspan="100" class="bg-light text-primary text-right"><strong>{{ category.name }}</strong></td>
                    </tr>
                    <ng-container [formGroupName]="category.name">
                      <tr *ngFor="let item of category.items; let i = index">
                        <td class="name">{{ item.name }}</td>
                        <td formGroupName="descriptions" class="description"><textarea class="form-control form-control-sm" name="description" type="text" rows="2" [formControlName]="i">{{item.description}}</textarea></td>
                        <td formGroupName="quantities" class="quantity"><input class="form-control form-control-sm" name="quantity" type="number" min="1" [formControlName]="i"></td>
                        <td formGroupName="prices" class="price">
                          <div class="input-group flex-nowrap">
                            <div class="input-group-prepend"><span class="input-group-text form-control-sm">$</span></div>
                            <input class="form-control form-control-sm" name="price" type="number" min="0" [formControlName]="i">
                          </div>
                        </td>
                        <td class="amount">{{ item.amount | currency }}</td>
                        <td class="tax">
                          <span *ngIf="api.itemHasTax(item)" class="oi oi-check"></span>
                        </td>
                        <td><button class="btn btn-sm btn-outline-danger" type="button" (click)="removeItem(item, category.name, i)"><span class="oi oi-x"></span></button></td>
                      </tr>
                      <tr>
                        <td colspan="100" class="bg-light text-right text-muted"><strong>Subtotal: </strong>{{ api.getSubTotalForCategory(category.name) | currency }}</td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="text-right">
          <div class="d-flex justify-content-end my-2">
            <div class="form-group form-inline">
              <div class="input-group input-group-sm flex-nowrap">
                <span class="mr-3 text-muted">Discount:</span>
                <input class="form-control form-control-sm discount" name="discount" type="number" min="0" max="100" formControlName="discountPercent">
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end my-2" *ngIf="form.get('discountPercent').value > 0">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="discountAppliedAll" formControlName="discountAppliedAll">
              <label class="form-check-label" for="discountAppliedAll">
                <small class="text-black-50">Apply to entire estimate?</small>
              </label>
            </div>
          </div>
          <div class="d-flex justify-content-end my-2">
            <strong class="mr-3">Subtotal: </strong>
            <strong>{{ api.getSubTotal() | currency }}</strong>
          </div>
          <div class="d-flex justify-content-end my-2">
            <strong class="mr-3">Tax: </strong>
            <strong>{{ api.getTax() | currency }}</strong>
          </div>
          <div class="d-flex justify-content-end my-2">
            <strong class="mr-3">Total: </strong>
            <strong>{{ api.getTotal() | currency }}</strong>
          </div>
        </div>
        <div class="d-flex justify-content-end my-3">
          <button class="btn btn-outline-danger mx-1" type="button" (click)="submit(true)">Submit Rejected</button>
          <button class="btn btn-primary mx-1" type="button" (click)="submit()">Next</button>
        </div>

      </form>
    </div>
  </div>
</div>
