<div class="display-4 mb-5 text-center">Multipoint Inspection and Assessment</div>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="d-flex justify-content-center">
    <div>
      <h4 class="text-center">Bike/Model</h4>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="bike_model" [class.is-invalid]="form.get('bike_model').dirty && form.get('bike_model').invalid">
      </div>
    </div>
  </div>

  <h4 class="text-center">Wear</h4>
  <div class="row" formGroupName="qualities">
    <div class="col-4 offset-2" *ngFor="let assessment of qualityAssessments">
      <div class="text-black-50 font-weight-bold">{{ assessment.name }}</div>
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [formControlName]="assessment.name" [class.is-invalid]="isQualityDirty(assessment.name) && !isQualityValid(assessment.name)">
        <ng-container *ngFor="let choice of qualityChoices">
          <label ngbButtonLabel [ngClass]="{'btn-success': choice === QUALITY_GOOD, 'btn-danger': choice === QUALITY_BAD, 'btn-warning': choice === QUALITY_OK, 'chosen': form.value.qualities[assessment.name] === choice}">
            <input ngbButton type="radio" [value]="choice">&nbsp;
          </label>
        </ng-container>
      </div>
    </div>
  </div>

  <h4 class="text-center">Service</h4>
  <div class="row" formGroupName="services">
    <div class="col-6 text-center" *ngFor="let assessment of servicedAssessments">
      <div class="text-black-50 font-weight-bold">
        {{ assessment.name }}
        <small class="d-inline form-text text-muted" *ngIf="!assessment.required">
          * optional
        </small>
      </div>
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [formControlName]="assessment.name" [class.is-invalid]="form.get('services').get(assessment.name).dirty && form.get('services').get(assessment.name).invalid">
        <ng-container *ngFor="let value of [true, false]">
          <label ngbButtonLabel [ngClass]="{'btn-success': value, 'btn-danger': !value, 'chosen': form.value.services[assessment.name] === value}">
            <input ngbButton type="radio" [value]="value"> &nbsp;
          </label>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end my-3">
    <button class="btn btn-success">Next</button>
  </div>
</form>
