<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>In-House Repairs</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style>
      tr.Accepted {
        background-color: green;  
      }
      tr.Pending {
        background-color: yellow;  
      }
      tr.Closed {
        background-color: gray;  
      }
      tr.Rejected {
        background-color: red;  
      }
    </style>
  </head>

  <body>

    <div class="container">
        
      <div id="abr">
        <div class="table-responsive">
          <table class="table table-hover table-border table-condensed">
            <thead>
              <th v-for="header in headers">{$ header $}</th>
            </thead>
            <tbody>
              <tr v-for="estimate in estimates" :class="estimate.TxnStatus">
                <td><a v-bind:href="estimate_url(estimate)" target="_new">{$ estimate.Id $}</td>
                <td>{$ estimate.TxnDate $}</td>
                <td>{$ estimate.DeliveryInfo ? moment(estimate.DeliveryInfo.DeliveryTime).format('MM/DD/YY') : '' $}</td>
                <td>{$ estimate.DeliveryInfo ? moment(estimate.DeliveryInfo.DeliveryTime).format('h:mm a') : '' $}</td>
                <td>{$ estimate.CustomerRef.name $}</td>
                <td>(bike)</td>
                <td>(tag #)</td>
                <td>(estimate #)</td>
                <td>${$ total_labor(estimate) $}</td>
                <td>{$ estimate.TxnStatus $}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"></script>
    <script src="/static/moment.min.js"></script>
    
    <script type="text/javascript">
      var app = new Vue({
        el: '#abr',
        delimiters: ['{$', '$}'],
        data: {
          headers: ['Id', 'Date',	'Due Date',	'Due Time',	'Customer',	'Bike',	'Tag #',	'Estimate #',	'Total labor cost',	'Status'],
          estimates: [],
        },
        methods: {
          get_estimates: function() {
            this.$http.get('/static/estimates.example.json').then((response) => {
            //this.$http.get('/estimates').then((response) => {
              response.json().then((json) => {
                if ('estimates' in json) {
                  
                  // group by statues
                  let statusGroups = _.groupBy(json.estimates, 'TxnStatus');
                  
                  // build by status status preference
                  _.forEach(['Accepted', 'Pending', 'Closed', 'Rejected'], (status) => {
                    if (_.has(statusGroups, status)) {
                      _.forEach(statusGroups[status], (estimate) => {
                        this.estimates.push(estimate);
                      });
                    }
                  })
                }
              })
            },
            // failure
            (error) => {
              console.log('failure', error);
            });
          },
          estimate_url: function(estimate) {
           return 'https://qbo.intuit.com/app/estimate?txnId=' + estimate.Id;
          },
          total_labor: function (estimate) {
            let total = 0;
            _.forEach(estimate['Line'], (item) => {
              // no tax indicates labor
              if (item['SalesItemLineDetail'] && item['SalesItemLineDetail']['TaxCodeRef'] && item['SalesItemLineDetail']['TaxCodeRef']['value'] === 'NON') {
                total += item['SalesItemLineDetail']['UnitPrice'];
              } 
            }); 
            return total;
          },
          moment: moment,
        },
      });
      
      app.get_estimates();
      //setInterval(() => {
      //  app.get_estimates();
      //}, 20 * 1000);
    </script>
  </body>
</html>