{% set tab = 'estimates' %}
{% set container_class = 'container-fluid' %}

{% extends 'base.html' %}

{% block extra_js %}
    
    <script type="text/javascript">
      var app = new Vue({
        el: '#abr',
        delimiters: ['{$', '$}'],
        data: {
          isLoading: true,
          headers: ['Id', 'Date', 'Due Date', 'Due Time', 'Customer','Bike', 'Tag #', 'Estimate #', 'Total Labor Cost', 'Status'],
          estimates: [],
          error: {
            auth: false,
            unknown: false,
          },
        },
        methods: {
          get_estimates: function() {
            // reset errors
            this.error = {
              auth: false,
              unknown: false,
            }; 
            
            //this.$http.get('/static/estimates.sample.json', {headers: {'content-type': 'application/json'}}).then((response) => {
            this.$http.get('/json/estimates', {headers: {'content-type': 'application/json'}}).then((response) => {
              response.json().then((json) => {
                
                this.isLoading = false;
                
                if (json['success']) {
                  if (json['estimates']) {
                    
                    // wipe and rebuild
                    this.estimates = [];
                    
                    // group by statuses
                    let statusGroups = _.groupBy(json.estimates, 'TxnStatus');
                    
                    // build by status order preference
                    _.forEach(['Accepted', 'Pending', 'Closed'], (status) => {
                      if (_.has(statusGroups, status)) {
                        _.forEach(statusGroups[status], (estimate) => {
                          this.estimates.push(estimate);
                        });
                      }
                    })
                  }
                } else {
                  // authentication error
                  if (json['reason'] == 'authentication') {
                    this.error.auth = true; 
                  } else {
                    this.error.unknown = true; 
                  }
                  console.log('json failure', json, this.error);
                }
              })
            },
            // failure
            (error) => {
              console.log('failure', error);
            });
          },
          estimate_url: function (estimate) {
           return 'https://qbo.intuit.com/app/estimate?txnId=' + estimate.Id;
          },
          get_custom_field: function (estimate, field) {
            let value = '';
            if(estimate['CustomField'] && estimate['CustomField'].length) {
              value = _.find(estimate['CustomField'], (f) => {
               return f['Name'] == field;
              });
            } 
            return value['StringValue'];
          },
          total_labor: function (estimate) {
            let total = 0;
            _.forEach(estimate['Line'], (item) => {
              // no tax indicates labor
              if (item['SalesItemLineDetail'] && item['SalesItemLineDetail']['TaxCodeRef'] && item['SalesItemLineDetail']['TaxCodeRef']['value'] === 'NON') {
                total += item['SalesItemLineDetail']['UnitPrice'];
              } 
            }); 
            return total;
          },
          has_error: function () {
            return _.find(this.error, (type) => {
              return type ? true : false;
            });
          },
          moment: moment,
        },
      });
      
      app.get_estimates();
      
      // frequently refresh data
      setInterval(() => {
        app.get_estimates();
      }, 60 * 1000);
      
    </script>
{% endblock %}

{% block container %}
    
  <style>
    #abr table {
      width: 100%;
    }
    
    tr.Accepted {
      background-color: #54fb59;  /* green */  
    }
    tr.Pending {
      background-color: #f1f150;  /* yellow */
    }
    tr.Closed {
      background-color: #8383e0;  /* blue */
    }
  </style>
  <div id="abr">
    
    <div v-if="isLoading"><img src="static/loading.svg"></div>
  
    <div class="alert alert-danger" v-if="has_error()">
      <p v-if="error.auth">Your session has expired. <a href="/">Please log in again</a></p>
      <p v-if="error.unknown">An Unknown Error Occurred</p>
    </div>
  
    <div v-if="!isLoading" class="table-responsive">
      <table class="table nowrap table-hover table-border table-condensed">
        <thead>
          <th v-for="header in headers">{$ header $}</th>
        </thead>
        <tbody>
          <tr v-for="estimate in estimates" :class="estimate.TxnStatus">
            <td><a v-bind:href="estimate_url(estimate)" target="_new">{$ estimate.Id $}</td>
            <td>{$ moment(estimate.TxnDate).format('MM/DD/YY') $}</td>
            <td>{$ estimate.DeliveryInfo ? moment(estimate.DeliveryInfo.DeliveryTime).format('MM/DD/YY') : '' $}</td>
            <td>{$ estimate.DeliveryInfo ? moment(estimate.DeliveryInfo.DeliveryTime).format('h:mm a') : '' $}</td>
            <td>{$ estimate.CustomerRef.name $}</td>
            <td>{$ get_custom_field(estimate, 'Bike/Model') $}</td>
            <td>{$ get_custom_field(estimate, 'Tag #') $}</td>
            <td>{$ estimate.DocNumber $}</td>
            <td>${$ total_labor(estimate) $}</td>
            <td>{$ estimate.CustomerMemo ? estimate.CustomerMemo.value : '' $}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}