<html>
    <head>
        <style>
            {% include 'styles.css' %}
            {{ css }}
        </style>
    </head>
    <body>
        {% for row in rows %}
            <div class="row">
                {% for item in row %}
                    <div class="col">
                        <div class="item">
                            <div class="description">{{ item['Description'][:90] }}</div>
                            <div class="code">{% if 'ItemBasedExpenseLineDetail' in item %}{{ item['ItemBasedExpenseLineDetail']['ItemRef']['name'] }}{% else %}{{ item['FullyQualifiedName'] }}{% endif %}</div>
                            <div class="price">{% if item.get('UnitPrice') %}${{ item['UnitPrice'] }}{% endif %}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </body>
</html>