<html>
    <head>
    <!--{{ bill|safe }}-->
        <style>
            @page {
                size: Letter;
                margin: 0;
            }
            .clear {
                clear: both;
            }
            .row {
                height: .5in; 
                float: left;
                width: 2.83in;
                height: .7in;
                margin-bottom: .3in;
            }
        </style>
    </head>
    <body>
        {% for item in bill['Line'] %}
        <div class="row {{ loop.index }} {% if (loop.index-1) % 3 == 0 %}clear{% endif %}">
            <div>{{ item['Description'] }}</div>
            <div>?</div>
            <div>$</div>
        </div>
        {% endfor %}
    </body>
</html>