<html>
    <head>
        <style>
            {% include 'styles.css' %}
            {{ css }}
        </style>
    </head>
    <body>
        {% for row in rows %}
            <div class="row">
                {% for item in row %}
                    <div class="col">
                        <div>{{ item['Description'] }}</div>
                        <div>{% if 'ItemBasedExpenseLineDetail' in item %}{{ item['ItemBasedExpenseLineDetail']['ItemRef']['name'] }}{% else %}&nbsp;{% endif %}</div>
                        <div>{% if item.get('Price') %}${{ item['Price'] }}{% endif %}</div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </body>
</html>