/* http://www.worldlabel.com/Pages/wl-ol875.htm */
@page {
    size: Letter;
    margin-top: .25in;
    margin-bottom: .25in;
    margin-right: .21975in;
    margin-left: .21975in;
}
.col {
    min-height: .8in;
    float: left;
    width:  2.625in;
    white-space: nowrap;
    overflow: hidden;
}
.description {
    font-size: .12in;
    font-weight: bold;
}
.code {
    font-size: .1in;
}
.price {
    font-size: .18in;
}
.first {
    clear: both;
}
.row {
    width: 100%;
}