@page {
    size: Letter;
    margin-top: .5in;
    margin-bottom: .25in;
    margin-right: .21975in;
    margin-left: .21975in;
}
.col {
    width: 30%;
    margin: 0 1%;
    display: inline-block;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.item {
    padding: .1in;
}
.description {
    font-size: .12in;
    font-weight: bold;
}
.code {
    font-size: .1in;
}
.price {
    font-size: .18in;
}
.row {
    height: 1in;
    width: 100%;
}