@page {
    size: Letter;
    margin-top: .25in;
    margin-bottom: .25in;
    margin-right: .025in;
    margin-left: .025in;
}
.col {
    min-height: .8in;
    float: left;
    width: 30%;
    border: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    padding-top: .1in;
    padding-right: .1in;
    padding-bottom: .1in;
    padding-left: .1in;
}
.description {
    font-size: .12in;
}
.code {
    font-size: .14in;
}
.price {
    font-size: .16in;
}
.first {
    clear: both;
}
.row {
    width: 100%;
}