<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="card">
    <div class="card-header">
      <h4>Wrap Up</h4>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <div>
          <!-- review ok? -->
          <div class="form-group">
            <label>Review OK?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" [value]="true" [class.is-invalid]="form.controls.review_ok.dirty && !form.controls.review_ok.valid" id="review_ok-yes" formControlName="review_ok">
              <label class="form-check-label" for="review_ok-yes">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" [value]="false" [class.is-invalid]="form.controls.review_ok.dirty && !form.controls.review_ok.valid" id="review_ok-no" formControlName="review_ok">
              <label class="form-check-label" for="review_ok-no">
                No
              </label>
            </div>
          </div>
          <!-- need to order parts? -->
          <div class="form-group">
            <label>Do you need to order parts?</label>

            <div class="form-check">
              <input class="form-check-input" type="radio" [value]="true" [class.is-invalid]="form.controls.need_parts.dirty && !form.controls.need_parts.valid" id="parts-yes" formControlName="need_parts">
              <label class="form-check-label" for="parts-yes">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" [value]="false" [class.is-invalid]="form.controls.need_parts.dirty && !form.controls.need_parts.valid" id="parts-no" formControlName="need_parts">
              <label class="form-check-label" for="parts-no">
                No
              </label>
            </div>
          </div>
          <!-- parts in inventory? -->
          <div class="form-group" [ngClass]="{'d-block': form.value.need_parts, 'd-none': !form.value.need_parts}">
            <label>Are the parts needed in our list of inventory?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" [value]="true" [class.is-invalid]="form.controls.parts_in_inventory.dirty && !form.controls.parts_in_inventory.valid" id="inventory-yes" formControlName="parts_in_inventory">
              <label class="form-check-label" for="inventory-yes">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" [value]="false" [class.is-invalid]="form.controls.parts_in_inventory.dirty && !form.controls.parts_in_inventory.valid" id="inventory-no" formControlName="parts_in_inventory">
              <label class="form-check-label" for="inventory-no">
                No
              </label>
            </div>
          </div>
          <!-- expiration date -->
          <div class="form-group">
            <label for="expirationDate">Expiration Date</label>
            <input type="date" class="form-control" id="expirationDate" [class.is-invalid]="form.controls.expiration_date.dirty && !form.controls.expiration_date.valid" formControlName="expiration_date">
          </div>
          <!-- expiration time -->
          <div class="form-group" [ngClass]="{'border border-danger': !isTimeValid}">
            <label for="expirationTime">Expiration Time</label>
            <ngb-timepicker id="expirationTime" [(ngModel)]="expirationTime" (ngModelChange)="expirationTimeChanged()" [ngModelOptions]="{standalone: true}" [minuteStep]="15" [meridian]="true"></ngb-timepicker>
          </div>
          <!-- contact method -->
          <div class="form-group">
            <label for="contact-method">Best Contact Method</label>
            <select class="form-control" id="contact-method" [class.is-invalid]="form.controls.contact_method.dirty && !form.controls.contact_method.valid" formControlName="contact_method">
              <option></option>
              <option>Email</option>
              <option>Text</option>
              <option>Call</option>
            </select>
          </div>
          <!-- paying half now -->
          <div class="form-group">
            <label for="contact-method">Payment Option</label>
            <select class="form-control" id="payment-option" [class.is-invalid]="form.controls.payment_option.dirty && !form.controls.payment_option.valid" formControlName="payment_option">
              <option></option>
              <option>{{api.OPTION_PAYMENT_NOT_PAID}}</option>
              <option>{{api.OPTION_PAYMENT_PAID}}</option>
              <option>{{api.OPTION_PAYMENT_HALF_NOW}}</option>
            </select>
          </div>
          <!-- signature -->
          <div class="mb-2" [ngClass]="{'border border-danger': !signatureValid}">
            <div>
              <h5>Customer Signature</h5>
              <canvas #signatureEl class="border border-dark"></canvas>
              <button class="d-block btn btn-sm btn-outline-warning" type="button" (click)="clearSignature()">Clear</button>
            </div>
          </div>
          <!-- tag number -->
          <div class="form-group">
            <label for="tag-number">Tag #</label>
            <input type="text" class="form-control" id="tag-number" [class.is-invalid]="form.controls.tag_number.dirty && !form.controls.tag_number.valid" formControlName="tag_number">
          </div>
          <!-- initials -->
          <div class="form-group">
            <label for="initials">Employee Initials</label>
            <input type="text" minlength="2" maxlength="10" class="form-control" id="initials" [class.is-invalid]="form.controls.employee_initials.dirty && !form.controls.employee_initials.valid" formControlName="employee_initials">
          </div>
          <!-- details -->
          <div class="d-flex justify-content-center">
            <div class="alert" [ngClass]="{'alert-success': api.estimateData.status === 'Accepted', 'alert-danger': api.estimateData.status === 'Rejected', 'alert-info': !api.estimateData.status}">
              <div><strong>Estimate Status:</strong> {{ api.estimateData.status }}</div>
              <div><strong>Due:</strong> {{ api.estimateData.expiration_date + ' ' + api.estimateData.expiration_time | amDateFormat: 'MMM Do hh:mm a' }}</div>
              <div><strong>Phone:</strong> {{ api.estimateData.phone }}</div>
              <div><strong>Email:</strong> {{ api.estimateData.email }}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- create -->
      <div class="d-flex justify-content-end">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Next</button>
        </div>
      </div>
    </div>
  </div>
</form>
