<form [formGroup]="form" (ngSubmit)="submit()">
  <!-- first name -->
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input class="form-control" type="text" id="first_name" [class.is-invalid]="form.controls.first_name.dirty && !form.controls.first_name.valid" formControlName="first_name" autofocus autocomplete="false">
  </div>
  <!-- last name -->
  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input class="form-control" type="text" id="last_name" [class.is-invalid]="form.controls.last_name.dirty && !form.controls.last_name.valid" formControlName="last_name" autocomplete="false">
  </div>
  <!-- email -->
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="text" id="email" [class.is-invalid]="form.controls.email.dirty && !form.controls.email.valid" formControlName="email" autocomplete="false">
  </div>
  <!-- phone -->
  <div class="form-group">
    <label for="phone">Phone</label>
    <input minlength="10" maxlength="10" class="form-control" [class.is-invalid]="form.controls.phone.dirty && !form.controls.phone.valid" id="phone" formControlName="phone" autocomplete="false">
  </div>
  <!-- address line 1 -->
  <div class="form-group">
    <label for="addressLine1">Address Line 1</label>
    <input type="text" class="form-control" id="addressLine1" [class.is-invalid]="form.controls.address_line1.dirty && !form.controls.address_line1.valid" formControlName="address_line1">
  </div>
  <!-- address line 2 -->
  <div class="form-group">
    <label for="addressLine2">Address Line 2</label>
    <input type="text" class="form-control" id="addressLine2" [class.is-invalid]="form.controls.address_line2.dirty && !form.controls.address_line2.valid" formControlName="address_line2">
  </div>
  <!-- city -->
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" [class.is-invalid]="form.controls.city.dirty && !form.controls.city.valid" formControlName="city">
  </div>
  <!-- zip -->
  <div class="form-group">
    <label for="zip">Zip</label>
    <input type="text" class="form-control" id="zip" [class.is-invalid]="form.controls.zip.dirty && !form.controls.zip.valid" formControlName="zip">
  </div>
  <!-- crm -->
  <div class="form-group" *ngIf="api.settings">
    <label for="crm">CRM</label>
    <select class="form-control" id="crm" [class.is-invalid]="form.controls.crm.dirty && !form.controls.crm.valid" formControlName="crm">
      <option value="">--</option>
      <option *ngFor="let crm of api.settings.crms" [value]="crm[0]">{{ crm[1] }}</option>
    </select>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary">Submit</button>
  </div>
</form>
