<ngx-loading [show]="isLoading"></ngx-loading>

<!-- current customer -->
<div class="card" *ngIf="api.hasCurrentCustomer()">
  <div class="card-header">
    <h4>Current Customer</h4>
  </div>
  <div class="card-body d-flex justify-content-center">
    <div class="row">

      <div class="col-2 offset-4 font-weight-bold">First Name</div>
      <div class="col-6 text-left">{{ api.estimateData.first_name}} </div>

      <div class="col-2 offset-4 font-weight-bold">Last Name</div>
      <div class="col-6 text-left">{{ api.estimateData.last_name}} </div>

      <div class="col-2 offset-4 font-weight-bold">Email</div>
      <div class="col-6 text-left">{{ api.estimateData.email}} </div>

      <div class="col-2 offset-4 font-weight-bold">Phone</div>
      <div class="col-6 text-left">{{ api.estimateData.phone}} </div>

      <div class="col-12 text-right my-2">
        <a class="btn btn-sm btn-info" [routerLink]="['/wizard', 'customer', 'edit']">Edit <span class="oi oi-pencil"></span></a>
      </div>
    </div>
  </div>
</div>

<!-- search for customer -->
<div class="card" *ngIf="!api.hasCurrentCustomer()">
  <div class="card-header">
    <h4>Search for a customer</h4>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="customer">Last name</label>
        <ng-select
          id="customer"
          (change)="customerSelected()"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="customer"
          [items]="customers$ | async"
          [typeahead]="customerInput$"
          [loading]="customersLoading"
          [minTermLength]="2"
          bindLabel="DisplayName"
          autofocus
        >
        </ng-select>
      </div>
    </form>

    <div class="d-flex justify-content-end my-2" *ngIf="customer">
      <a class="btn btn-sm btn-info" [routerLink]="['/wizard', 'customer', 'edit']">Edit <span class="oi oi-pencil"></span></a>
    </div>

    <div *ngIf="invoices" class="mt-5">
      <h5>Customer Invoices</h5>
      <div *ngIf="!invoices.length" class="alert alert-info">
        This customer has no invoices
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-condensed" *ngIf="invoices.length">
          <thead>
          <tr>
            <th>Service Date</th>
            <th>Estimate Number</th>
            <th>Total Amount</th>
            <th>Invoice Notes</th>
            <th>Statement Notes</th>
            <th>Items</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let invoice of invoices">
            <td>{{ invoice.TxnDate }}</td>
            <td>{{ invoice.DocNumber }}</td>
            <td>${{ invoice.TotalAmt }}</td>
            <td>{{ invoice.CustomerMemo?.value }}</td>
            <td>{{ invoice.PrivateNote }}</td>
            <td>
              <div *ngFor="let line of invoice.Line">{{ line.Description }}</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-5" *ngIf="needsNewCustomer">
      <div class="alert alert-info">
        Can't find the customer?
        <button class="btn btn-primary ml-3" [routerLink]="['/wizard', 'customer', 'create']">Create a new one</button>
      </div>
    </div>

    <div class="d-flex justify-content-end" *ngIf="customer">
      <a class="btn btn-success" [routerLink]="wizardSteps.nextStep(this)">Next</a>
    </div>
  </div>
</div>
