<div class="container-fluid">
  <form>
    <!-- top -->
    <div class="row">
      <div class="col-8 d-flex justify-content-between">
        <!-- customer name -->
        <div class="form-group">
          <label for="customer">Customer</label>
          <select id="customer" class="form-control">
            <option>-- Choose a customer --</option>
          </select>
        </div>
        <!-- customer email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email">
        </div>
        <!-- crm -->
        <div class="form-group">
          <label for="crm">CRM</label>
          <input type="text" class="form-control" id="crm">
        </div>
      </div>
      <!-- messages -->
      <div class="col-4">
        <div>
          <h5>Message displayed on estimate</h5>
          <textarea></textarea>
        </div>
        <div>
          <h5>Message displayed on statement</h5>
          <textarea></textarea>
        </div>
      </div>
    </div>
    <!-- middle -->
    <div class="row">
    </div>
    <!-- bottom -->
    <div class="row">
    </div>
  </form>
</div>
