{% extends 'base.html' %}
{% load static %}

{% block extra_js %}
	<script>
		{% include 'includes/estimates-base.js' %}
	</script>
  <script>
    let app = new Vue({
      mixins: [estimatesMixin],
      data: {
        headers: ['Date', 'Due Date', 'Customer','Bike', 'Tag #', 'Estimate #', 'Total Labor Cost', 'Status', ],
      },
    });

    // load initial estimate data
    app.getEstimates();

    // frequently refresh estimate data
    setInterval(() => {
	    if (this.isRequestingData) {
		    console.log('already fetching data...');
	    } else {
				app.getEstimates();
	    }
    }, pollingRateSeconds * 1000);

  </script>
{% endblock %}

{% block container %}

  <div id="abr">

    <div v-if="isLoading"><img src="static/loading.svg"></div>

    <div v-else>

      {% include 'includes/app_errors.html' %}

      <div class="table-responsive">
        <table class="table table-hover table-border table-condensed">
          <thead>
          <th v-for="header in headers" :class="header">{$ header $}</th>
          </thead>
          <tbody>
          <tr v-for="estimate in estimates" :class="estimate.class" v-on:click="showEstimateNotes(estimate)">
            <td>{$ moment(estimate.TxnDate).format('MM/DD/YY') $}</td>
            <td>{$ estimate.ExpirationDate ? moment(estimate.ExpirationDate).format('MM/DD/YY h:mma') : '' $}</td>
            <td><a v-bind:href="customerUrl(estimate)" target="qbo">{$ estimate.CustomerRef.name $}</a></td>
            <td>{$ getCustomField(estimate, 'Bike/Model') $}</td>
            <td>{$ getCustomField(estimate, 'Tag #') $}</td>
            <td><a v-bind:href="estimateUrl(estimate)" target="qbo">{$ estimate.DocNumber $}</a></td>
            <td>${$ totalLabor(estimate) $}</td>
            <td>{$ getNotes(estimate) $}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block head_js %}
{% endblock %}
