{% extends 'base.html' %}
{% load static %}

{% block container %}
    <style>
        .error {
            color: red;
            font-weight: bold;
        }
    </style>
    
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
    {% if messages %}
      {% for message in messages %}
        <div class="error">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <div id="abr">
        <div v-if="isLoading">
            <h3>Building pdf, please hold...</h3>
            <img src="{% static 'loading.svg' %}">
        </div>
        
        <div v-if="!isLoading" class="row">
            <h2>Print Inventory Labels</h2>
            <form action="{% url 'pdf' %}" class="form-group col-md-6" target="_blank">
                <div>
                    <label>Bill ID</label>
                    <input type="text" name="bill_id" class="form-control">
                </div>
                <div class="form-group">
                    <label>Single Print
                        <input type="checkbox" name="single_print">
                    </label>
                </div>
                <div class="form-group">
                    <label>Use Custom CSS
                        <input type="checkbox" name="custom_css" v-model="customCSS">
                    </label>
                </div>
                <div class="form-group">
                    <textarea v-if=customCSS id="css" rows="15" cols="35" name="css"  class="form-control">{% include 'styles.css' %}</textarea>
                </div>
                <button type="submit" class="btn btn-block btn-primary">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print
                </button>
            </form>
        </div>
            
        <hr>
        
        <div v-if="!isLoading" class="row">
            <h4>Print a single copy of all inventory</h4>
            <form v-on:submit.prevent="singlePrint" id="single" target="_blank" action="{% url 'single_print_all_items' %}" method="post">
                <input type="hidden" v-model="allInventoryItemsJSON" name="items">
                <button class="btn btn-info">Print</button> 
            </form>
        </div>
    </div>
    
    <script>
        var useCustomCSS = false;
        $('#custom-css').click(() => {
            useCustomCSS = !useCustomCSS;
            if (useCustomCSS) {
                $('#css').css('display', 'block');
            } else {
                $('#css').css('display', 'none');
            }
        })
    </script>
{% endblock %}

{% block extra_js %}
		<script>
			{% include 'includes/estimates-base.js' %}
		</script>
    <script type="text/javascript">
      let app = new Vue({
        el: '#abr',
        mixins: [estimatesMixin],
        delimiters: ['{$', '$}'],
        data: {
            customCSS: false,
            isLoading: false,
        },
        methods: {
            singlePrint: function () {
                this.isLoading = true;
                this.allInventoryItems = [];
                this.getAllInventoryItems(0).then((response) => {
                    console.log('complete with %s items', this.allInventoryItems.length);
                    this.allInventoryItemsJSON = JSON.stringify({'items': this.allInventoryItems});
                    this.isLoading = false;
                    setTimeout(function() {
                        $('form#single').submit();
                    });
                });
            },
        },
      })
    </script>
{% endblock %}