{% extends 'base.html' %}
{% load static %}

{% comment TODO %}
{% set container_class = 'container-fluid' %}
{% endcomment %}

{% block extra_js %}
	<script src="{% static 'estimates-base.js' %}"></script>
	<script>
		let pollingRateSeconds = 10;
		let app = new Vue({
			mixins: [estimatesMixin],
			data: {
				headers: ['Date', 'Due Date', 'Customer','Bike', 'Tag #', 'Estimate #', 'Qty', 'Stock', 'Total', 'Part Description' ],
				estimatesParts: [],
				partsToOrder: [],
			},
			methods: {
				getEstimatesParts: function () {
					// expand estimates by part
					return this.get_estimates().then(
						() => {
							this.estimates = _.filter(this.estimates, (estimate) => {
								return estimate.TxnStatus !== 'Accepted';
							});
							let estimatesParts = [];
							_.forEach(this.estimates, (item) => {
								_.forEach(this.parts(item), (part) => {
									estimatesParts.push({
										estimate: item,
										part: part,
									});
								});
							});
							this.estimatesParts = estimatesParts;
						},
						(error) => {
							console.log(error);
						});
				},
				parts: function (estimate) {
					// returns only taxable parts (non service/labor items)
					let estimate_parts = [];
					_.forEach(estimate['Line'], (item) => {
						// tax indicates part
						if (item['SalesItemLineDetail'] && item['SalesItemLineDetail']['TaxCodeRef'] && item['SalesItemLineDetail']['TaxCodeRef']['value'] === 'TAX') {
							estimate_parts.push(item);
						}
					});
					return estimate_parts;
				},
				getInventoryQuantityOnHand(part) {
					let found_part = _.find(this.allInventoryItems, (item) => {
						return String(item.Id) === part.SalesItemLineDetail.ItemRef.value;
					});
					return found_part ? found_part.QtyOnHand : 0;
				},
			},
		});

		// load initial estimate and inventory data
		app.getEstimatesParts();
		app.getAllInventoryItems(0, true);

		// frequently refresh estimate data
		setInterval(() => {
			app.getEstimatesParts();
		}, pollingRateSeconds * 1000);

	</script>
{% endblock %}

{% block container %}

	<div id="abr">
		<div v-if="isLoading"><img src="static/loading.svg"></div>

		<div v-if="!isLoading">

			{% include 'includes/session_expired.html' %}

			<div class="table-responsive">
				<table class="table table-hover table-border table-condensed">
					<thead>
					<th><button class="btn btn-info btn-xs">Order</button></th>
					<th v-for="header in headers" :class="header">{$ header $}</th>
					</thead>
					<tbody>
					<tr v-for="estimatePart in estimatesParts" :class="estimatePart.estimate.class" v-on:click="show_estimate_notes(estimatePart.estimate)">
						<td><input type="checkbox" :value="estimatePart.part.SalesItemLineDetail.ItemRef.value" v-model="partsToOrder"></td>
						<td>{$ moment(estimatePart.estimate.TxnDate).format('MM/DD/YY') $}</td>
						<td>{$ estimatePart.estimate.ExpirationDate ? moment(estimatePart.estimate.ExpirationDate).format('MM/DD/YY h:mma') : '' $}</td>
						<td><a v-bind:href="customer_url(estimatePart.estimate)" target="qbo">{$ estimatePart.estimate.CustomerRef.name $}</a></td>
						<td>{$ get_custom_field(estimatePart.estimate, 'Bike/Model') $}</td>
						<td>{$ get_custom_field(estimatePart.estimate, 'Tag #') $}</td>
						<td><a v-bind:href="estimate_url(estimatePart.estimate)" target="qbo">{$ estimatePart.estimate.DocNumber $}</a></td>
						<td>{$ estimatePart.part.SalesItemLineDetail.Qty $}</td>
						<td><span v-if="!isFetchingInventory && allInventoryItems.length">{$ getInventoryQuantityOnHand(estimatePart.part) $}</span></td>
						<td>{$ '' $}</td>
						<td>{$ estimatePart.part.Description $}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block head_js %}
{% endblock %}
