{% extends 'base.html' %}
{% load static %}

{% comment TODO %}
{% set container_class = 'container-fluid' %}
{% endcomment %}

{% block extra_js %}
	<script src="{% static 'estimates-base.js' %}"></script>
	<script>
		let pollingRateSeconds = 10;
		let app = new Vue({
			mixins: [estimatesMixin],
			data: {
				headers: ['Date', 'Due Date', 'Customer','Bike', 'Tag #', 'Estimate #', 'Qty', 'Stock', 'Total', 'Part Description' ],
				estimatesParts: [],
				partsToOrder: [],
				vendor: '',
				orderId: '',
				orderDescription: '',
				orderErrorMessage: '',
        isOrdering: false,
			},
			methods: {
				getEstimatesParts: function () {
					// expand estimates by part
					return this.get_estimates().then(
						() => {
							this.estimates = _.filter(this.estimates, (estimate) => {
								return estimate.TxnStatus !== 'Accepted';
							});
							let estimatesParts = [];
							_.forEach(this.estimates, (item) => {
								_.forEach(this.parts(item), (part) => {
									estimatesParts.push({
										estimate: item,
										part: part,
									});
								});
							});
							this.estimatesParts = estimatesParts;
						},
						(error) => {
							console.log(error);
						});
				},
				parts: function (estimate) {
					// returns only taxable parts (non service/labor items)
					let estimate_parts = [];
					_.forEach(estimate['Line'], (item) => {
						// tax indicates part
						if (item['SalesItemLineDetail'] && item['SalesItemLineDetail']['TaxCodeRef'] && item['SalesItemLineDetail']['TaxCodeRef']['value'] === 'TAX') {
							estimate_parts.push(item);
						}
					});
					return estimate_parts;
				},
				getInventoryQuantityOnHand(part) {
					let found_part = _.find(this.allInventoryItems, (item) => {
						return String(item.Id) === part.SalesItemLineDetail.ItemRef.value;
					});
					return found_part ? found_part.QtyOnHand : 0;
				},
				order($event) {
				  this.isOrdering = true;
					// unset any previous error message
					this.orderErrorMessage = '';

					// post order
					let headers = {
						'content-type': 'application/json',
						'X-CSRFToken': Cookies.get('csrftoken'),
					};
					let params = {
						order_id: this.orderId,
						vendor: this.vendor,
						description: this.orderDescription,
						estimates_parts: _.map(this.partsToOrder, (estimate_part) => {
							return {
								estimate_id: estimate_part.estimate.Id,
								part_id: estimate_part.part.SalesItemLineDetail.ItemRef.value,
								quantity: estimate_part.part.SalesItemLineDetail.Qty,
							};
						}),
					};
					return this.$http.post('/api/orders/', params, {headers: headers}).then(
						(response) => {
							response.json().then((data) => {
								$('#order-modal').modal('hide');
								this.resetOrderForm();
							});
						},
						(error) => {
							console.log(error);
							// try and parse json
							error.json().then(
								(data) => {
									// set message on form (simply stringify json)
									this.orderErrorMessage = JSON.stringify(data);
								},
								// error parsing json
								() => {
									this.orderErrorMessage = 'An unknown error occurred';
								});
						}).finally(() => {
            this.isOrdering = false;
					});
				},
				resetOrderForm() {
					this.vendor = '';
					this.orderId = '';
					this.orderDescription = '';
				},
				orderFormValid() {
					return this.vendor.length > 0 && this.orderId.length > 0;
				},
			},
		});

		// load initial estimate and inventory data
		app.getEstimatesParts();
		app.getAllInventoryItems(0, true);

		// frequently refresh estimate data
		setInterval(() => {
			app.getEstimatesParts();
		}, pollingRateSeconds * 1000);

	</script>
{% endblock %}

{% block container %}

	<div id="abr">
		<div v-if="isLoading"><img src="static/loading.svg"></div>

		<div v-if="!isLoading">

			{% include 'includes/session_expired.html' %}

			<div class="table-responsive">
				<table class="table table-hover table-border table-condensed">
					<thead>
					<th><button data-toggle="modal" data-target="#order-modal" class="btn btn-xs" :disabled="partsToOrder.length === 0" :class="partsToOrder.length ? 'btn-info' : 'btn-default'">Order</button></th>
					<th v-for="header in headers" :class="header">{$ header $}</th>
					</thead>
					<tbody>
					<tr v-for="estimatePart in estimatesParts" :class="estimatePart.estimate.class" v-on:click="show_estimate_notes(estimatePart.estimate)">
						<td><input type="checkbox" :value="estimatePart" v-model="partsToOrder"></td>
						<td>{$ moment(estimatePart.estimate.TxnDate).format('MM/DD/YY') $}</td>
						<td>{$ estimatePart.estimate.ExpirationDate ? moment(estimatePart.estimate.ExpirationDate).format('MM/DD/YY h:mma') : '' $}</td>
						<td><a v-bind:href="customer_url(estimatePart.estimate)" target="qbo">{$ estimatePart.estimate.CustomerRef.name $}</a></td>
						<td>{$ get_custom_field(estimatePart.estimate, 'Bike/Model') $}</td>
						<td>{$ get_custom_field(estimatePart.estimate, 'Tag #') $}</td>
						<td><a v-bind:href="estimate_url(estimatePart.estimate)" target="qbo">{$ estimatePart.estimate.DocNumber $}</a></td>
						<td>{$ estimatePart.part.SalesItemLineDetail.Qty $}</td>
						<td><span v-if="!isFetchingInventory && allInventoryItems.length">{$ getInventoryQuantityOnHand(estimatePart.part) $}</span></td>
						<td>{$ '' $}</td>
						<td>{$ estimatePart.part.Description $}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- order modal -->
		<div class="modal fade" tabindex="-1" role="dialog" id="order-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Order</h4>
					</div>
					<div class="modal-body">
						<div v-if="orderErrorMessage" class="alert alert-danger">{$ orderErrorMessage $}</div>
						<div class="form-group">
							<label>Vendor</label>
							<input type="text" v-model="vendor" class="form-control" placeholder="">
						</div>
						<div class="form-group">
							<label>Order ID</label>
							<input type="text" v-model="orderId" class="form-control" placeholder="">
						</div>
						<div class="form-group">
							<label>Description</label>
							<textarea v-model="orderDescription" class="form-control" rows="3" name="description"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button :disabled="!orderFormValid()" type="button" v-on:click="order($event)" class="btn btn-primary">{$ isOrdering ? 'Ordering...' : 'Submit Order' $}</button>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}

{% block head_js %}
{% endblock %}
