{% extends 'base.html' %}
{% load static %}

{% comment TODO %}
{% set tab = 'needed-parts' %}
{% set container_class = 'container-fluid' %}
{% endcomment %}

{% block extra_js %}
  <script src="{% static 'estimates-base.js' %}"></script>
  <script>
    let pollingRateSeconds = 10;
    let app = new Vue({
      mixins: [estimatesMixin],
      data: {
        headers: ['Date', 'Due Date', 'Customer','Bike', 'Tag #', 'Estimate #', 'Qty', 'Stock', 'Total', 'Part Description' ],
        estimates_parts: [],
      },
      methods: {
        get_estimates_parts: function () {
          // expand estimates by part
          return this.get_estimates().then(
            (estimates) => {
              let estimates_parts = [];
              _.forEach(estimates, (item) => {
                _.forEach(this.parts(item), (part) => {
                  estimates_parts.push({
                    estimate: item,
                    part: part,
                  });
                });
              });
              this.estimates_parts = estimates_parts;
            },
            (error) => {
              console.log(error);
            });
        },
        parts: function (estimate) {
          // returns only taxable parts (non service/labor items)
          let estimate_parts = [];
          _.forEach(estimate['Line'], (item) => {
            // tax indicates part
            if (item['SalesItemLineDetail'] && item['SalesItemLineDetail']['TaxCodeRef'] && item['SalesItemLineDetail']['TaxCodeRef']['value'] === 'TAX') {
              estimate_parts.push(item);
            }
          });
          return estimate_parts;
        },
      },
    });

    // load initial estimate data
    app.get_estimates_parts();

    // frequently refresh estimate data
    setInterval(() => {
      app.get_estimates_parts();
    }, pollingRateSeconds * 1000);

  </script>
{% endblock %}

{% block container %}

  <div id="abr">
    <div v-if="isLoading"><img src="static/loading.svg"></div>

    <div v-if="!isLoading">

      {% include 'includes/session_expired.html' %}

      <div class="table-responsive">
        <table class="table table-hover table-border table-condensed">
          <thead>
          <th v-for="header in headers" :class="header">{$ header $}</th>
          </thead>
          <tbody>
          <tr v-for="estimate_part in estimates_parts" :class="estimate_part.estimate.class" v-on:click="show_estimate_notes(estimate_part.estimate)">
            <td>{$ moment(estimate_part.estimate.TxnDate).format('MM/DD/YY') $}</td>
            <td>{$ estimate_part.estimate.ExpirationDate ? moment(estimate_part.estimate.ExpirationDate).format('MM/DD/YY h:mma') : '' $}</td>
            <td><a v-bind:href="customer_url(estimate_part.estimate)" target="qbo">{$ estimate_part.estimate.CustomerRef.name $}</a></td>
            <td>{$ get_custom_field(estimate_part.estimate, 'Bike/Model') $}</td>
            <td>{$ get_custom_field(estimate_part.estimate, 'Tag #') $}</td>
            <td><a v-bind:href="estimate_url(estimate_part.estimate)" target="qbo">{$ estimate_part.estimate.DocNumber $}</a></td>
            <td>{$ estimate_part.part.SalesItemLineDetail.Qty $}</td>
            <td>{$ '' $}</td>
            <td>{$ '' $}</td>
            <td>{$ estimate_part.part.Description $}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block head_js %}
{% endblock %}
