{% extends 'base.html' %}
{% load static %}

{% block extra_js %}
	<script>
		{% include 'includes/estimates-base.js' %}
	</script>
	<script>
    // TODO - handle heroku/postgres max 10k rows
		let app = new Vue({
			mixins: [estimatesMixin],
			data: {
				headers: ['Date', 'Due Date', 'Customer','Bike', 'Tag #', 'Estimate #', 'Qty', 'Stock', 'Total', 'Part Description'],
				partsToOrder: [],
				orderVendor: '',
				orderId: '',
				orderDescription: '',
				orderErrorMessage: '',
        isOrdering: false,
				partToRemove: null,
				partToRemoveError: '',
				isRemovingPart: false,
        NOT_ORDERED: 'NOT_ORDERED',
			},
			methods: {
				resetOrderForm() {
					this.partsToOrder = [];
					this.orderVendor = '';
					this.orderId = '';
					this.orderDescription = '';
				},
				orderFormValid() {
					return this.orderVendor.length > 0 && this.orderId.length > 0;
				},
        hasOrdered(estimatePart) {
					return Boolean(this.getOrderPartFromEstimatePart(estimatePart));
        },
        placeOrder() {
          // indicate that we're currently ordering and unset any previous error message
          this.isOrdering = true;
          this.orderErrorMessage = '';

          // setup new order params
          let params = {
            order_id: this.orderId,
            vendor: this.orderVendor,
            description: this.orderDescription,
            order_parts: _.map(this.partsToOrder, (partToOrder) => {
              return {
                estimate_id: partToOrder.estimateId,
                part_id: partToOrder.partId,
                quantity: partToOrder.quantity,
              };
            }),
          };
          // post new order
          return this.$http.post('/api/orders/', params, {headers: apiHeaders}).then(
            (response) => {
              response.json().then((data) => {
                $('#order-modal').modal('hide');
                this.resetOrderForm();
                // re-fetch the order parts
                this.getOrders();
              });
            },
            (error) => {
              console.log(error);
              // try and parse json
              error.json().then(
                (data) => {
                  // set message on form (simply stringify json)
                  this.orderErrorMessage = JSON.stringify(data);
                },
                // error parsing json
                () => {
                  this.orderErrorMessage = 'An unknown error occurred';
                });
            }).finally(() => {
            this.isOrdering = false;
          });
        },
				removePartFromOrder () {
					// reset any previous error message
					this.partToRemoveError = '';
					this.isRemovingPart = true;
					return this.$http.delete(`/api/orders-parts/${this.partToRemove.id}/`, {headers: apiHeaders}).then(
						() => {
							// dismiss modal
							$('#part-remove-modal').modal('hide');
							// remove the part from the order
							this.orders.map((order) => {
								order['parts'] = order.parts.filter((part) => {
									return part.id !== this.partToRemove.id;
								});
							});
						},
						(error) => {
							this.partToRemoveError = 'An unknown error occurred removing this part';
							console.log(error);
						}).finally(() => {
						this.isRemovingPart = false;
					});
				},
				getEstimatesPartsRows() {
					let rows = [];
					let groups = this.groupedEstimatePartsByOrder();
					_.each(groups, (group) => {
						// group that's been ordered
						if (group.order) {
							// include the order header
							rows.push({
								type: 'order-header',
								order: group.order,
							});
						}
						// flatten group
						_.each(group.estimateParts, (estimatePart) => {
							rows.push({
								type: 'estimate-part',
								estimatePart: estimatePart,
							});
						});
					});
					return rows;
				},
				groupedEstimatePartsByOrder() {
				  let ordered = [];
          let unordered = [];
					let grouped = _.groupBy(this.estimatesParts, (estimatePart) => {
					  let order_id = this.NOT_ORDERED;
					  let part = this.getOrderPartFromEstimatePart(estimatePart);
					  if (part) {
					    order_id = part.order;
            }
						return order_id;
					});
					_.each(grouped, (estimateParts, order_id) => {
            // sort estimates by date
            estimateParts.sort((a, b) => {
              return new Date(a.estimate.TxnDate) - new Date(b.estimate.TxnDate);
            });
					  if (order_id === this.NOT_ORDERED) {
					    unordered.push({
                'order': null,
                'estimateParts': estimateParts,
              });
            } else {
              ordered.push({
                'order': this.getOrderById(order_id),
                'estimateParts': estimateParts,
              });
            }
            // sort orders by date
            ordered.sort((a, b) => {
              return new Date(a.order.date_created) - new Date(b.order.date_created);
            });
          });
					return unordered.concat(ordered);
				},
        getOrderById(order_id) {
				  return _.find(this.orders, (order) => {
				    return order.id === parseInt(order_id);
          });
        },
        getRowClass(row) {
          if (row.type === 'order-header') {
				    return 'order-details';
          }
          return row.estimatePart.estimate.class;
        },
        getUniqueEstimatePartKey(row) {
					// if it's an order header, use the id
					if (row.order) {
						return row.order.id;
					}
					// otherwise use the estimate DocNumber + part.Id (unique to estimate)
					return `${row.estimatePart.estimate.DocNumber}:${row.estimatePart.part.Id}`;
        },
				getAdminUrlForOrderId(orderId) {
					let url = '{% url 'admin:app_order_change' 9999 %}';
					return url.replace(9999, orderId);
				},
        getInventoryItemUrlFromPart(estimatePart) {
				 return `https://c21.qbo.intuit.com/app/inventory_quantity_adj?itemIds=${estimatePart.part.SalesItemLineDetail.ItemRef.value}`;
        }
			},
		});

		// load initial data
		app.getEstimatesParts();
    app.getOrders();
		app.getAllInventoryItems(0, true);

		// frequently refresh
		setInterval(() => {
			app.getEstimatesParts();
			app.getOrders();
		}, pollingRateSeconds * 1000);

    // refresh inventory half as fast
    setInterval(() => {
    	// prevent requests from stacking up
    	if (!this.isRequestingInventoryData) {
		    app.getAllInventoryItems(0, true);
	    } else {
		    console.log('already fetching inventory data');
	    }
    }, pollingRateSeconds * 2 * 1000);

	</script>
{% endblock %}

{% block container %}

	<div id="abr">
		<div v-if="isLoading"><img src="{% static 'loading.svg' %}"></div>

		<div v-else>

			{% include 'includes/app_errors.html' %}

      <div class="table-responsive tab-pane active" role="tabpanel">
        <table class="table table-hover table-border table-condensed">
          <thead>
            <th><button data-toggle="modal" data-target="#order-modal" class="btn btn-xs" :disabled="partsToOrder.length === 0" :class="partsToOrder.length ? 'btn-info' : 'btn-default'">Order</button></th>
            <th v-for="header in headers" :class="header">{$ header $}</th>
          </thead>
          <tbody>
            <tr v-for="row in getEstimatesPartsRows()" v-bind:x-key="getUniqueEstimatePartKey(row)" :key="getUniqueEstimatePartKey(row)" :class="getRowClass(row)">
              <!-- order header row -->
              <template v-if="row.type == 'order-header'">
                <td align="left" colspan="100">
                  <a :href="getAdminUrlForOrderId(row.order.id)" target="_blank">Ordered: {$ moment(row.order.date_created).format('MM/DD/YY') $}</a> &nbsp;&nbsp;
                  Vendor: {$ row.order.vendor $} &nbsp;&nbsp;
                  Order # {$ row.order.order_id $} &nbsp;&nbsp;
                  Description: {$ row.order.description $}
                </td>
              </template>
              <!-- estimate part row -->
              <template v-else>
                <td>
                  <div v-if="!hasOrdered(row.estimatePart)">
                    <input type="checkbox" :value="{quantity: row.estimatePart.part.SalesItemLineDetail.Qty, partId: row.estimatePart.part.SalesItemLineDetail.ItemRef.value, estimateId: row.estimatePart.estimate.DocNumber}" v-model="partsToOrder">
                  </div>
                  <div v-else>
                    <button v-on:click="partToRemove = getOrderPartFromEstimatePart(row.estimatePart)" class="btn btn-info btn-xs btn-link" data-toggle="modal" data-target="#part-remove-modal">detach</button>
                  </div>
                </td>
                <td>{$ moment(row.estimatePart.estimate.TxnDate).format('MM/DD/YY') $}</td>
                <td>{$ row.estimatePart.estimate.ExpirationDate ? moment(row.estimatePart.estimate.ExpirationDate).format('MM/DD/YY h:mma') : '' $}</td>
                <td><a v-bind:href="customerUrl(row.estimatePart.estimate)" target="qbo">{$ row.estimatePart.estimate.CustomerRef.name $}</a></td>
                <td>{$ getCustomField(row.estimatePart.estimate, 'Bike/Model') $}</td>
                <td>{$ getCustomField(row.estimatePart.estimate, 'Tag #') $}</td>
                <td><a v-bind:href="estimateUrl(row.estimatePart.estimate)" target="qbo">{$ row.estimatePart.estimate.DocNumber $}</a></td>
                <td>{$ row.estimatePart.part.SalesItemLineDetail.Qty $}</td>
                <td><span v-if="allInventoryItems.length">{$ getInventoryQuantityOnHand(row.estimatePart.part) $}</span></td>
                <td>{$ getTotalInventoryOrderQuantity(row.estimatePart.part) $}</td>
                <td><a :href="getInventoryItemUrlFromPart(row.estimatePart)" target="qbo">{$ row.estimatePart.part.Description $}</a></td> </template>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

		<!-- order modal -->
		<div class="modal fade" tabindex="-1" role="dialog" id="order-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Order</h4>
					</div>
					<div class="modal-body">
						<div v-if="orderErrorMessage" class="alert alert-danger">{$ orderErrorMessage $}</div>
						<div class="form-group">
							<label>Vendor</label>
							<input type="text" v-model="orderVendor" class="form-control" placeholder="">
						</div>
						<div class="form-group">
							<label>Order ID</label>
							<input type="text" v-model="orderId" class="form-control" placeholder="">
						</div>
						<div class="form-group">
							<label>Description</label>
							<textarea v-model="orderDescription" class="form-control" rows="3" name="description"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button :disabled="!orderFormValid() || isOrdering" type="button" v-on:click="placeOrder()" class="btn btn-primary">{$ isOrdering ? 'Ordering...' : 'Submit Order' $}</button>
					</div>
				</div>
			</div>
		</div>

		<!-- part remove modal -->
		<div class="modal fade" tabindex="-1" role="dialog" id="part-remove-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Remove Part from Order</h4>
					</div>
					<div class="modal-body">
						<div v-if="partToRemoveError" class="alert alert-danger">{$ partToRemoveError $}</div>
						<div class="alert alert-danger">
							<h6>Are you sure you want to remove this part from an existing order?</h6>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" v-on:click="removePartFromOrder()" class="btn btn-danger">{$ isRemovingPart ? 'Removing...' : 'REMOVE' $}</button>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}

{% block head_js %}
{% endblock %}
