/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~ngx-toastr/toastr';
@import "~@icon/open-iconic/open-iconic.css";


.app-loading {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}
